.homeCarousel {
  height: 32rem;
  background: #777;
}

.homeBody ul {
  width: 100%;
}

@media screen and (max-width: 60em) {
    .homeMarkdownContainer ul:nth-child(1) {
        display: none;
      }
}
