.authenticationForm {
  display: flex;
  flex-direction: column;
}

.authenticationInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.authenticationInput input {
  width: 50%;
}

.authenticationInput label {
  width: 50%;
}

.authenticationEnterBtn {
  width: fit-content;
  display: flex;
  margin-left: auto;
}

.shieldCheckBtn, .shieldLockBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #fff;
    border: .05rem solid black;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    z-index: 1020;
}

.shieldLockBtn:hover,
.shieldCheckBtn:hover,
.shieldLockBtn:focus,
.shieldCheckBtn:focus {
  color: #0a58ca;
}
