.authenticationForm {
    display: flex;
    flex-direction: column;
}

.authenticationInput {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 1rem;
}

.authenticationInput input {
    width: 50%;
}